img {
	-webkit-user-drag: none; /* Chrome, Safari, Edge */
	user-select: none;       /* Standard */
	-moz-user-select: none;  /* Firefox */
	-webkit-user-select: none; /* Safari */
}
table {
  table-layout: fixed;
}

td {
  overflow: hidden;
  white-space: nowrap;
}